<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="admin-layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content" id="app">
    <div class="col-md-12">
        <h2 class="text-center">Dodaj bramkę</h2>
        <h3 class="text-center">{{ message }}</h3>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="home" class="col-sm-2 control-label">Gospodarze</label>
            <div class="col-sm-10">
                <select class="form-control" id="home" v-model="createMatchDto.homeClubId">
                    <option v-for="club in clubs" :value="club.id">{{ club.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="visitor" class="col-sm-2 control-label">Goście</label>
            <div class="col-sm-10">
                <select class="form-control" id="visitor" v-model="createMatchDto.visitorClubId">
                    <option v-for="club in clubs" :value="club.id">{{ club.name }}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-default" v-on:click="submit">Dodaj mecz</button>
    </div>
</section>

<section layout:fragment="ext-footer-scripts">
    <script src="/js/admin/admin-add-match.js"></script>
</section>
</body>
</html>