<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="admin-layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content" id="app">
    <div class="col-md-12">
        <h2 class="text-center">Dodaj bramkę</h2>
        <h3 class="text-center">{{ message }}</h3>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="matchSide" class="col-sm-2 control-label">Bramka dla</label>
            <div class="col-sm-10">
                <select class="form-control" id="matchSide" v-model="goalDto.matchSide" v-on:change="getPlayers()">
                    <option value="HOME">{{ match.home.name }}</option>
                    <option value="VISITOR">{{ match.visitor.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="scorer" class="col-sm-2 control-label">Strzelec</label>
            <div class="col-sm-10">
                <select class="form-control" id="scorer" v-model="goalDto.scoredBy">
                    <option v-for="player in players" :value="player.id">{{ (player.name + ' ' || '') + (player.surname || '') }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="asisted" class="col-sm-2 control-label">Asysta</label>
            <div class="col-sm-10">
                <select class="form-control" id="asisted" v-model="goalDto.assistedBy">
                    <option v-for="player in players" :value="player.id">{{ (player.name + ' ' || '') + (player.surname || '') }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="minute" class="col-sm-2 control-label">Minuta</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="minute" placeholder="Minuta" v-model="goalDto.minuteOfGame"/>
            </div>
        </div>
        <button type="submit" class="btn btn-default" v-on:click="submit">Dodaj bramkę</button>
    </div>
</section>

<section layout:fragment="ext-footer-scripts">
    <script src="/js/admin/admin-add-goal.js"></script>
</section>
</body>
</html>