<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="admin-layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content" id="app">
    <div class="col-md-12">
        <h2 class="text-center">Lista zawodników</h2>
        <a class="col-md-3 col-md-offset-9" href="/admin-add-player">
            <button class="btn btn-default">Dodaj zawodnika</button>
        </a>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered table-striped">
            <tr class="text-center">
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Punkty</th>
                <th>Szczegóły</th>
            </tr>
            <tr v-for="player in players">
                <td>{{player.name}}</td>
                <td>{{player.surname || '-'}}</td>
                <td>{{player.points}}</td>
                <td><a :href="playerIdLink(player)">Szczegóły</a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-2"></div>
</section>

<section layout:fragment="ext-footer-scripts">
    <script src="/js/admin/admin-players.js"></script>
</section>
</body>
</html>