<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>
<body>

<section layout:fragment="header" id="header">
	<nav class="navbar navbar-default">
		<div class="nav navbar-nav">
			<a class="navbar-brand" th:href="@{/}">Strona główna</a>
			<li><a th:href="@{/results}">Zobacz wyniki</a></li>
			<li><a th:href="@{/team}">Moja drużyna</a></li>
			<li><a th:href="#{/player}">Znajdź piłkarza</a></li>
		</div>
	</nav>
</section>

<section layout:fragment="content" id="app">
	<p>Page content goes here</p>
</section>

<section layout:fragment="footer">

</section>

<section layout:fragment="footer-scripts">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"/>
	<script src="https://unpkg.com/vue"></script>
</section>

<section layout:fragment="ext-footer-scripts">

</section>
</body>
</html>
